    @charset "utf-8";
    body,
    p,
    ul,
    ol,
    li,
    dl,
    dt,
    dd,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    textarea,
    select,
    input,
    form {
        margin: 0;
        padding: 0
    }
    
    ul,
    ol,
    li {
        list-style: none;
    }
    
    a,
    u {
        text-decoration: none;
    }
    /* 头部开始 */
    /* 头部开始 */
    
    .header {
        width: 100%;
        height: 32px;
        background: #F4F4F4;
        font-size: 12px;
        color: #666666;
        line-height: 32px;
    }
    
    .wrap {
        height: 32px;
        width: 1200px;
        margin: 0 auto;
    }
    
    .left {
        height: 32px;
        width: 260px;
        float: left;
    }
    
    .adress {
        height: 32px;
        width: 106px;
        float: left;
    }
    
    .tip {
        height: 32px;
        width: 116px;
        float: left;
        margin-left: 20px
    }
    
    .adress span {
        padding-left: 18px;
        background: url(../images/P1.png) no-repeat -1px -4px;
    }
    
    .tip span {
        padding-left: 18px;
        background: url(../images/p4.png) no-repeat -4px -1px;
    }
    
    .header a {
        color: #666666
    }
    
    .header a:hover {
        color: #FF4040;
    }
    
    .right {
        height: 32px;
        width: 320px;
        float: right;
    }
    
    .right div {
        float: left;
    }
    
    .right .enter {
        width: 85px;
    }
    
    .enter span a {
        color: #FF4040
    }
    
    .login {
        width: 30px;
        margin-left: 8px
    }
    
    .right .login span {
        color: #B1B1C4
    }
    
    .vip {
        width: 85px;
        margin-left: 10px
    }
    
    .vip span {
        padding-left: 18px;
        background: url(../images/p2.png) no-repeat -4px -2px;
    }
    
    .order {
        width: 75px;
        margin-left: 10px;
    }
    
    .order span {
        padding-left: 18px;
        background: url(../images/p3.png) no-repeat -4px -5px;
    }
    /* 头部结束 */
    /* log开始 */
    
    .logo {
        height: 80px;
        width: 100%;
        background: #F8F8F8;
    }
    
    .wrap2 {
        height: 80px;
        width: 1200px;
        margin: 0 auto;
    }
    
    .left1 {
        width: 490px;
        height: 80px;
        line-height: 80px;
        float: left;
    }
    
    .left1 img {
        float: left;
        margin-top: 20px
    }
    
    .left1 span {
        color: #333333;
        float: left;
        font-size: 12px;
        margin: 0 5px;
    }
    
    .left1 p {
        height: 26px;
        width: 150px;
        float: left;
        color: #666666;
        font-size: 12px;
        border: 1px solid #ECEAEA;
        background: #FCFBFB;
        border-radius: 5px;
        margin-top: 25px;
        line-height: 26px;
        padding-left: 20px;
    }
    
    .right1 {
        height: 80px;
        width: 328px;
        float: right;
    }
    
    .right1 input {
        height: 34px;
        width: 280px;
        outline: none;
        border: 1px solid #ECEAEA;
        border-radius: 8px;
        margin: 21px 38px;
        background: url(../images/jjjj.png) no-repeat 243px 6px
    }
    /*  购物车主体开始*/
    
    .buy_car {
        width: 100%;
        background: #F8F8F8;
    }
    
    .wrap3 {
        width: 1200px;
        margin: 0 auto;
        color: #333;
    }
    
    #tb {
        width: 600px;
        /* height: 600px; */
        border: 1px solid #333;
        border-collapse: collapse;
        table-layout: fixed;
    }
    /* td,
    th {
        border: 1px solid #333;
    } */
    
    th {
        width: 197px;
        height: 38px;
        background: #FFFFFF;
        border: 1px solid #DFDFDF;
    }
    
    #box {
        background: #fff;
        height: 65px;
        width: 1200px;
        margin-top: 10px;
        line-height: 65px;
        ;
    }
    
    #box .tatal {
        float: left;
    }
    
    .all {
        float: right;
        width: 110px;
        height: 65px;
        background: #FF6C6C;
        text-align: center;
        line-height: 65px;
        font-weight: bolder;
        color: #fff;
    }
    
    tbody {
        border: 1px solid #DCDCDC;
        text-align: center
    }
    
    tbody td {
        height: 100px;
        line-height: 100px;
        background: #fff;
    }
    
    .total {
        color: red;
    }
    /* 购物车主体结束 */
    
    .like {
        height: 104px;
        width: 100%;
        background: #F8F8FA;
        text-align: center
    }
    
    .like img {
        margin: 44px auto;
    }
    
    .shop {
        height: 567px;
        width: 100%;
        background: #F8F8FA;
    }
    
    .valid {
        height: 518px;
        width: 1200px;
        background: #fff;
        margin: 0 auto;
    }
    
    .sea {
        height: 213px;
        width: 155px;
        float: left;
        margin-left: 68px;
        margin-top: 32px;
        font-size: 12px;
        text-align: center;
        position: relative;
        cursor: pointer;
    }
    
    .sea p {
        color: #FF4040;
        margin: 5px 0;
    }
    
    .sea span {
        color: #666666;
    }
    
    .car_none {
        position: absolute;
        top: 108px;
        left: 108px;
        display: none;
    }
    /* 商品结束 */
    /* 底部开始 */
    
    .footer {
        height: 424px;
        width: 100%;
    }
    
    .con {
        height: 310px;
        width: 1070px;
        margin: 0 auto;
    }
    
    .adds {
        height: 120px;
    }
    
    .cirle {
        height: 120px;
        width: 267px;
        text-align: center;
        border-bottom: 1px solid #EBEBEB;
        float: left;
        margin-top: 90px;
    }
    
    .cirle span {
        font-weight: bold
    }
    
    .cirle p {
        color: #999999;
        font-size: 14px;
    }
    
    .lis {
        height: 191px;
        width: 718px;
        float: left;
    }
    
    .lis1 {
        height: 189px;
        width: 718px;
    }
    
    .lis3 {
        float: left;
        height: 182px;
        width: 140px;
        margin: 6px 18px
    }
    
    .lis3 a li {
        color: #666666;
        font-size: 12px;
        margin-top: 12px
    }
    
    .lis3 a li:hover {
        color: #FF4040;
    }
    
    .two {
        float: left;
        height: 132px;
        width: 306px;
        margin: 28px 23px;
    }
    
    .end {
        width: 100%;
        text-align: center;
        height: 60px;
    }
    
    .end p {
        margin: 0 auto;
        width: 1446px;
        color: #333333;
        font-size: 12px;
    }
    
    .foot_end {
        height: 55px;
        width: 615px;
        margin: 0 auto;
    }