body,
p,
form,
input,
button,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    list-style: none;
}

body,
html {
    width: 100%;
    height: 100%;
    min-width: 990px;
}

a {
    text-decoration: none;
    font-size: 12px;
    color: #666;
}

#head a:hover {
    color: #ff4040;
    cursor: pointer;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    font-size: 16px;
    fill: currentColor;
    overflow: hidden;
    color: #ff4040;
}

.icon_a:hover {
    color: #ff4040;
}

.icon_a {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    font-size: 16px;
    fill: currentColor;
    overflow: hidden;
    color: #aaa;
}

#head {
    width: 100%;
    height: 30px;
    background-color: #f4f4f4;
}

.hd_top {
    width: 982px;
    height: 30px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #f4f4f4;
    line-height: 30px;
    margin: auto;
}

.hd_top_aa {
    float: left;
    height: 30px;
    padding-left: 10px;
    color: #666;
}

.hd_top_a {
    float: left;
}

.hd_top_b {
    float: left;
    height: 30px;
    padding-left: 20px;
    color: #666;
    overflow: hidden;
    width: 230px;
}

.hd_top_c {
    float: right;
    color: #666;
}

.hd_top_c ul {
    display: flex;
    justify-content: space-between;
}

.hd_top_c ul>li {
    margin-left: 20px
}

.hd_top_x {
    display: none;
    position: absolute;
    top: 30px;
    left: -30px;
    padding: 15px 9px 9px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    text-align: center;
    z-index: 2;
    height: 140px;
}

.hd_top_cl {
    position: relative;
}

.hd_top_cl:hover .hd_top_x {
    display: inline;
}


/* 头部结束 */


/* 搜索框开始 */

.search2 {
    height: 125px;
    width: 100%;
    margin-top: 1px;
}

.wrap3 {
    height: 125px;
    width: 982px;
    margin: 0 auto;
    position: relative;
}

.big-logo {
    float: left;
    margin-top: 20px;
    margin-left: 40px;
}

.move1 {
    height: 38px;
    width: 438px;
    border: 2px solid #FF4040;
    border-radius: 20px 0 0 20px;
    padding-left: 20px;
    margin-left: 108px;
    float: left;
    margin-top: 36px;
    outline: none;
}

.car1 {
    height: 38px;
    width: 120px;
    border-radius: 30px;
    border: 1px solid #E4E4E4;
    float: right;
    margin-top: 36px;
    line-height: 38px;
}

.car1 a {
    color: #666666;
    padding-left: 50px;
    background: url(../images/car.png) no-repeat 12px -4px;
}

.sear1 {
    height: 38px;
    width: 70px;
    background: #FF4040;
    border: none;
    float: left;
    margin-top: 36px;
    border-radius: 0 20px 20px 0;
    outline: none
}

.search-none {
    height: 160px;
    width: 414px;
    position: absolute;
    top: 74px;
    left: 254px;
    float: left;
    /* display: none; */
    z-index: 200;
}

.history {
    height: 160px;
    width: 207px;
    border-right: 1px solid #666666;
    float: left;
    background: #fff
}

.search-none a {
    color: #666666;
    font-size: 14px;
}

.history a {
    display: block;
    width: 180px;
    margin-left: 10px;
    margin-top: 5px
}

.history a:hover {
    background: #F8F8F8;
}

.shop a {
    border: 1px solid;
    display: block;
    float: left;
    margin-left: 9px;
    margin-top: 7px;
}

.shop {
    padding: 10px;
    background: #f8f6f6;
    float: left;
    height: 140px;
    width: 186px;
}

.shop a:hover {
    border: 1px solid #FF4040;
    color: #FF4040
}


/* 搜索框结束 */

.nav {
    height: 40px;
    width: 100%;
    border-bottom: 2px solid red;
    /* z-index: 100; */
}

.wrap4 {
    height: 40px;
    width: 982px;
    margin: 0 auto;
    position: relative;
}

.all {
    height: 40px;
    width: 208px;
    background: #FF4040;
    float: left;
    line-height: 40px;
    cursor: pointer;
}

.all a {
    color: #fff;
    font-weight: bold;
    margin-left: 57px;
    padding-right: 25px;
    background: url(../images/shang.png) no-repeat 81px 3px;
}

.all:hover a {
    background: url(../images/xia.png) no-repeat 81px 3px;
}

.wrap4 ul {
    float: left;
}

.wrap4 li {
    float: left;
}

.aaa {
    line-height: 40px;
}

.aaa a {
    color: #333;
    margin-left: 25px;
    font-size: 16px;
}

.wrap4 li a:hover {
    color: #FF4040;
}

.list {
    height: 410px;
    width: 208px;
    position: absolute;
    top: 40px;
    display: none;
    z-index: 100;
    background: #000000;
    opacity: 0.7;
}

.list1 {
    height: 358px;
    width: 158px;
    float: left;
    margin-top: 25px;
    margin-left: 16px
}

.world {
    font-size: 14px;
    color: #fff;
    font-weight: bold
}

.list li a {
    font-size: 12px;
    color: #fff;
}

.list ul {
    margin-bottom: 36px;
    margin-left: 10px;
}

.list li {
    margin-top: 3px;
}

.main {
    height: 734px;
    width: 100%;
}

.valid {
    height: 734px;
    width: 982px;
    margin: 0 auto;
}

.left2 {
    line-height: 28px;
    width: 206px;
    margin-top: 15px;
    float: left;
}

.outer li {
    border: 1px solid #D4D4D4;
    padding-left: 15px;
}

.outer .inside li {
    line-height: 25px;
    border: none;
}

.inside {
    display: none;
}

.right2 {
    float: left;
}

._top {
    line-height: 40px;
    widows: 185px;
    margin-left: 30px;
}

._top a {
    color: #333333;
    margin-left: 10px;
}

.contents {
    width: 760px;
    border: 1px solid #DBDBDB;
    margin-left: 14px;
}

.contents h3 {
    font-size: 14px;
    margin: 20px;
}

.contents p {
    font-size: 12px;
    margin-left: 25px;
    color: #333333;
    font-weight: bold;
    margin-right: 25px;
    margin-top: 10px;
}

.blue {
    height: 26px;
    width: 714px;
    line-height: 26px;
    background: #DEEDF9;
    font-size: 12px;
    font-weight: bold;
    color: #333333;
    margin-top: 10px;
    margin-left: 25px;
}

.blue span {
    margin-left: 10px;
}

.contents .word p {
    color: #333333;
    line-height: 25px;
    font-weight: normal;
}


/* 底部开始 */

.foot {
    width: 100%;
    height: 449px;
}

.foot_wrap {
    width: 1228px;
    height: 449px;
    margin: auto;
}

.foot_wrap_s {
    border-bottom: 1px solid #ebebeb;
    padding: 95px 0;
}

.foot_wrap_s li {
    float: left;
    margin: 0 51px;
}

.foot_wrap_s img {
    float: left;
    margin: 0 15px 0 0;
}

.foot_wrap_s p {
    float: right;
    margin-top: 10px;
}

.foot_wrap_z {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.foot_wrap_left {
    width: 795px;
    height: 152px;
    padding: 0 0 0 15px;
}

.foot_wrap_left dl {
    float: left;
    width: 195px;
}

.foot_wrap_left dt {
    height: 32px;
    padding: 0 8px;
    font-size: 14px;
    color: #666;
    line-height: 32px;
    overflow: hidden;
    font-family: "Microsoft YaHei";
    color: #666;
    font-weight: bold;
}

.foot_wrap_left dd {
    padding: 0 8px;
}

.foot_wrap_right {
    width: 280px;
    overflow: hidden;
    float: left;
    margin-right: 135px;
}

.foot_wrap_right_b {
    float: left;
    margin-right: 50px;
    line-height: 32px;
    font-size: 14px;
    font-weight: bold;
    color: #666;
}

.ft_footer_link {
    color: #666;
    text-align: center;
    text-indent: 0;
    line-height: 100%;
    margin: 15px 0;
    padding: 0;
}

.ft_pic_link {
    padding: 10px 0 20px;
    text-align: center;
    font-size: 0;
}