@charset "utf-8";
body,
p,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
textarea,
select,
input,
form {
    margin: 0;
    padding: 0
}

ul,
ol,
li {
    list-style: none;
}

a,
u {
    text-decoration: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.cl:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0
}

/* 头部 */
.header {
    width: 100%;
    height: 32px;
    background: #F4F4F4;
    font-size: 12px;
    color: #666666;
    line-height: 32px;
}

.wrap {
    height: 32px;
    width: 1070px;
    margin: 0 auto;
}

.left {
    height: 32px;
    width: 342px;
    float: left;
}

.left_top{
    height: 32px;
    width: 90px;
    float: left;
}

.adress {
    height: 32px;
    width: 106px;
    float: left;
}

.tip {
    height: 32px;
    width: 116px;
    float: left;
    margin-left: 20px
}

.left_top span{
    padding-left: 18px;
    background: url(../images/jia.png) no-repeat -1px -4px;
}

.adress span {
    padding-left: 18px;
    background: url(../images/P1.png) no-repeat -1px -4px;
}

.tip span {
    padding-left: 18px;
    background: url(../images/p4.png) no-repeat -4px -1px;
}

.header a {
    color: #666666;
}

.header a:hover {
    color: #FF4040;
}

.right {
    height: 32px;
    width: 370px;
    float: right;
}

.right div {
    float: left;
}

.right .enter {
    width: 85px;
}

.enter span a {
    color: #FF4040
}

.login {
    width: 30px;
    margin-left: 8px
}

.right .login span {
    color: #B1B1C4
}

.right .login span:hover{
    color: #FF4040;
}

.vip {
    width: 85px;
    margin-left: 10px;
}

.vip span {
    padding-left: 18px;
    background: url(../images/p2.png) no-repeat -4px -2px;
}

.order {
    width: 75px;
    margin-left: 10px;
}

.order span {
    padding-left: 18px;
    background: url(../images/p3.png) no-repeat -4px -5px;
}

.app span{
    padding-left: 18px;
    background: url(../images/app.png) no-repeat -2px -3px;
}





.header_bottom{
    height: 142px;
}
.bottom{
    width: 1070px;
    margin: 0 auto;
}
.inner img{
    width: 160px;
    height: 90px;
    margin-top: 28px;
}
.h1>img{
    width: 140px;
    height: 140px;
}


.move {
    height: 38px;
    width: 438px;
    border: 2px solid #FF4040;
    border-radius: 20px 0 0 20px;
    padding-left: 20px;
    margin-left: 106px;
    float: left;
    margin-top: 60px;
    outline: none;
}

.sear {
    height: 38px;
    width: 70px;
    background: #FF4040;
    border: none;
    float: left;
    margin-top: 60px;
    border-radius: 0 20px 20px 0;
    outline: none
}

.car {
    height: 38px;
    width: 120px;
    border-radius: 30px;
    border: 1px solid #E4E4E4;
    float: right;
    margin-top: 60px;
    line-height: 38px;
}

.car a {
    color: #666666;
    padding-left: 50px;
    background: url(../images/car.png) no-repeat 12px -3px;
}
.nav{
    margin-left: 130px;
    padding-top: 8px;
}
.nav>a{
    font-size: 14px;
    color: #B2AABD;
    margin-left: 3px;
}
.back{
     background-color: #45a9ff;
     margin-top: 2px;
}
.tu,.classify{
    width: 990px;
    margin: 0 auto;
}
.tu>img{
    width: 990px;
    vertical-align: bottom;
}
.classify>span{
    width: 492px;
    display: inline-block;
    text-align: center;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
}
.box{
    width: 990px;
    margin: 0 auto;
    background: #F9F9F9;
}
.box_sp{
    width: 240px;
    height: 343px;
    margin-left: 6px;
}
.sp_tu img{
    width: 220px;
    height: 220px;
    margin: 20px 0 0 10px;
}
.sp_title{
    width: 204px;
    height: 34px;
    font-size: 12px;
    margin-left: 18px;
}
.sp_price>a{
    color: #FF4040;
}
.sp_price{
    width: 204px;
    height: 34px;
    font-size: 20px;
    margin: 30px 0 0 18px;
}
.box_right{
    display: none;
}
