body,
p,
form,
input,
button,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    list-style: none;
}

body,
html {
    width: 100%;
    height: 100%;
    min-width: 990px;
}

a {
    text-decoration: none;
    font-size: 12px;
    color: #666;
}

a:hover {
    color: #ff4040;
    cursor: pointer;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    font-size: 16px;
    fill: currentColor;
    overflow: hidden;
    color: #ff4040;
}

.icon_a:hover {
    color: #ff4040;
}

.icon_a {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    font-size: 16px;
    fill: currentColor;
    overflow: hidden;
    color: #aaa;
}

#head {
    width: 100%;
    height: 30px;
    background-color: #f4f4f4;
}

.hd_top {
    width: 1200px;
    height: 30px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #f4f4f4;
    line-height: 30px;
    margin: auto;
}

.hd_top_aa {
    float: left;
    height: 30px;
    padding-left: 10px;
    color: #666;
}

.hd_top_a {
    float: left;
}

.hd_top_b {
    float: left;
    height: 30px;
    padding-left: 20px;
    color: #666;
    overflow: hidden;
    width: 230px;
}

.hd_top_c {
    float: right;
    color: #666;
}

.hd_top_c ul {
    display: flex;
    justify-content: space-between;
}

.hd_top_c ul>li {
    margin-left: 20px
}

.hd_top_x {
    display: none;
    position: absolute;
    top: 30px;
    left: -30px;
    padding: 15px 9px 9px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    text-align: center;
    z-index: 2;
    height: 140px;
}

.hd_top_cl {
    position: relative;
}

.hd_top_cl:hover .hd_top_x {
    display: inline;
}


/* 头部结束 */


/* 导航 */

.nav {
    height: 90px;
    width: 100%;
}

.wrap {
    height: 90px;
    width: 1200px;
    margin: 0 auto;
    line-height: 90px;
    margin-top: 1px;
}

.wrap img {
    margin-top: 30px;
    float: left;
}

.wrap ul {
    float: left;
}

.wrap li {
    float: left;
}

.wrap li {
    font-size: 16px;
    margin-left: 76px;
}

.vip_content {
    overflow: hidden;
    height: 580px;
    width: 100%;
    background: url(../images/xxx.jpg) no-repeat center center;
    background-size: 100% 580px;
    text-align: center;
}

.head_img {
    height: 100px;
    width: 100px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-top: 90px;
    margin-left: 902px;
    text-align: center;
    cursor: pointer;
}

.head_img img {
    height: 76px;
    width: 76px;
    border-radius: 50%;
    margin-top: 12px;
}

.vip_content p {
    color: #575758;
    margin-top: 20px;
}

.sign {
    height: 50px;
    width: 283px;
    background: #333333;
    color: #fff;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 808px;
    line-height: 50px;
    box-shadow: 0 0 5px 5px #ccc;
    cursor: pointer;
}

.cirle {
    width: 847px;
    height: 112px;
    margin-left: 540px;
    margin-top: 70px;
}

.small {
    height: 112px;
    width: 73px;
    float: left;
    cursor: pointer;
    margin-left: 42px;
}

.vip_content .cirle p {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
}

.move {
    height: 150px;
    width: 100%;
    margin-top: 30px;
}

.valid {
    height: 150px;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.active {
    height: 141px;
    width: 282px;
    background: url(../images/activebg_01.png);
    float: left;
    cursor: pointer;
    margin-left: 13px;
}

.word {
    height: 118px;
    width: 100px;
    float: left;
    margin-top: 20px;
    margin-left: 27px;
}

.photo {
    float: left;
}

.word span {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.word p {
    color: #fff;
    font-size: 14px;
    margin-top: 20px;
}

.introduce {
    height: 50px;
    width: 100%;
    margin-top: 50px;
}

.valid2 {
    height: 50px;
    width: 1200px;
    margin: 0 auto;
    line-height: 50px;
    border-bottom: 1px solid #EEEEEE;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}


/* 底部开始 */

.foot {
    width: 100%;
    height: 449px;
}

.foot_wrap {
    width: 1228px;
    height: 449px;
    margin: auto;
}

.foot_wrap_s {
    border-bottom: 1px solid #ebebeb;
    padding: 95px 0;
}

.foot_wrap_s li {
    float: left;
    margin: 0 51px;
}

.foot_wrap_s img {
    float: left;
    margin: 0 15px 0 0;
}

.foot_wrap_s p {
    float: right;
    margin-top: 10px;
}

.foot_wrap_z {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.foot_wrap_left {
    width: 795px;
    height: 152px;
    padding: 0 0 0 15px;
}

.foot_wrap_left dl {
    float: left;
    width: 195px;
}

.foot_wrap_left dt {
    height: 32px;
    padding: 0 8px;
    font-size: 14px;
    color: #666;
    line-height: 32px;
    overflow: hidden;
    font-family: "Microsoft YaHei";
    color: #666;
    font-weight: bold;
}

.foot_wrap_left dd {
    padding: 0 8px;
}

.foot_wrap_right {
    width: 280px;
    overflow: hidden;
    float: left;
    margin-right: 135px;
}

.foot_wrap_right_b {
    float: left;
    margin-right: 50px;
    line-height: 32px;
    font-size: 14px;
    font-weight: bold;
    color: #666;
}

.ft_footer_link {
    color: #666;
    text-align: center;
    text-indent: 0;
    line-height: 100%;
    margin: 15px 0;
    padding: 0;
}

.ft_pic_link {
    padding: 10px 0 20px;
    text-align: center;
    font-size: 0;
}


/* CSS Document */

#certify {
    position: relative;
    width: 1200px;
    margin: 0 auto
}

#certify .swiper-container {
    padding-bottom: 60px;
}

#certify .swiper-slide {
    width: 520px;
    height: 408px;
    background: #fff;
    /* box-shadow: 0 8px 30px #ddd; */
    background: transparent;
}

#certify .swiper-slide img {
    display: block;
}

#certify .swiper-slide p {
    line-height: 98px;
    padding-top: 0;
    text-align: center;
    color: #636363;
    font-size: 1.1em;
    margin: 0;
}

#certify .swiper-pagination {
    width: 100%;
    bottom: 20px;
}

#certify .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
    border: 3px solid #fff;
    background-color: #d5d5d5;
    width: 10px;
    height: 10px;
    opacity: 1;
}

#certify .swiper-pagination-bullets .swiper-pagination-bullet-active {
    border: 3px solid #00aadc;
    background-color: #fff;
}

#certify .swiper-button-prev {
    left: -30px;
    width: 45px;
    height: 45px;
    background: url(../images/wm_button_icon.png) no-repeat;
    background-position: 0 0;
    background-size: 100%;
}

#certify .swiper-button-prev:hover {
    background-position: 0 -46px;
    background-size: 100%
}

#certify .swiper-button-next {
    right: -30px;
    width: 45px;
    height: 45px;
    background: url(../images/wm_button_icon.png) no-repeat;
    background-position: 0 -93px;
    background-size: 100%;
}

#certify .swiper-button-next:hover {
    background-position: 0 -139px;
    background-size: 100%
}

.boxx {
    width: 247px;
    height: 340px;
    margin: 30px auto;
    box-shadow: 0 8px 30px #ddd;
    cursor: pointer;
}

.back {
    height: 50px;
    width: 50px;
    background: #fff url(../images/backkk.png) no-repeat center center;
    cursor: pointer;
    position: fixed;
    bottom: 100px;
    right: 30px;
    box-shadow: 0 0 1px 1px #ccc;
    display: none;
}

.back_n {
    height: 50px;
    width: 50px;
    text-align: center;
    padding-top: 3px;
    background: #969696;
    display: none;
    box-shadow: 0 0 1px 1px #ccc;
}

.back_n span {
    font-size: 14px;
    color: #fff;
}

.back:hover .back_n {
    display: block;
}